.title-loading {
  height: 24px;
  width: 200px;
  margin: 2rem 0;
  background-color: lightgray;
  animation: loading 1s linear infinite alternate;
}

.banner-grid-loading {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 3rem;
  overflow-x: scroll;
}

.banner-loading {
  height: 144px;
  width: 144px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 75%;
  background-color: lightgray;
  animation: loading 1s linear infinite alternate;
}

@keyframes loading {
  0% {
    background-color: rgb(241, 241, 241);
  }
  100% {
    background-color: lightgray;
  }
}

.choices-title {
  font-size: 24px;
  margin: 2rem 0;
  font-weight: 800;
  color: rgba(2, 6, 12, 0.92);
}

.banner-grid {
  display: flex;
  overflow-x: scroll;
}

/* for safari */
.banner-grid::-webkit-scrollbar {
  display: none;
}
